<p><a href = "/rock">Play Rock</a></p>
<p><a href = "/paper">Play Paper</a></p>
<p><a href = "/scissors">Play Scissors</a></p>

<h1>We played paper! </h1>

<h1>They played <%= @random_move %>! </h1>

<h1> <%= @result %></h1>
<p><a href = "/"> Rules</a></p>
